doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    header
      nav
        ul
          li
            a.securenote(href='/') SecureNote
          li
            a.button(href='#') Mine noter  

  body
    block content

  footer
    p Copyright © 2025 SecureNote

    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
    script(src="/script.js")

