doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a.securenote(href='/') SecureNote
          li
            a.button(href='/note/create') Opret note  
          li
            a.button(href='/note/overview') Mine noter
          li
            form(action='/logout', method='POST')
              button.logout-button(type='submit') Log ud

    block content

    footer
      p Copyright © 2025 SecureNote
