block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  
  form.user.form(action="/login", method="post")
    .section
      div.container
        h1 SecureNote Login

        div.input-group
          label(for="username") Username:
          input(type="text", id="username", name="username", required)

        div.input-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)

    div.button-group
      button.login-button(type="submit") Login

      a.button(href="/register") Registrer