extends layout

block content
  h1 Mine Noter

  .container
    h2 Liste over noter

    ul#noteList
      each note in notes
        li(data-id=note.id)
          a(href=`/note/${note.id}`)= note.title
          form(method="POST" action=`/delete/${note.id}`)
            button.delete-btn(type="submit") Slet

    a(href="/")
      button Tilbage
