block content

    form.user.form(action="/register", method="post")
        .section
        div.container
            h1 Bruger Registrering
    
            div.input-group
            label(for="username") Username:
            input(type="text", id="username", name="username", placeholder="Dit username", required)

            div.input-group
            label(for="firstName") Fornavn:
            input(type="text", id="firstName", name="firstName", placeholder="Dit fornavn", required)

            div.input-group
            label(for="lastName") Efternavn:
            input(type="text", id="lastName", name="lastName", placeholder="Dit efternavn", required)

            div.input-group
            label(for="email") Email:
            input(type="email", id="email", name="email", placeholder="Din email", required)
    
            div.input-group
            label(for="password") Password:
            input(type="password", id="password", name="password", placeholder="Dit password", required)
    
        div.button-group
        button.login-button(type="submit") Registrer
    
        a.button(href="/") Tilbage
    
        a.button(href="/login") Login