extends ../layout

block content
  .container
    h1= note.title
    p.note-content= note.note
    p.note-meta Bruger: #{note.username}
    p.note-meta Oprettet: #{note.formattedCreatedAt}

  div.button-group
    a.button(href="/note/overview") Tilbage